@import url("../../.colors/generated/gtk/colors.css");

window {
  font-family:
    FantasqueSansM Nerd Font,
    monospace;
  font-size: 16pt;
  /* background-color: @bar-bg; */
  background-color: rgba(0, 0, 0, 0);
}

button {
  outline-style: none;
  border: none;
  border-width: 0px;
  color: @on_surface;
  background-color: @surface;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

button:focus {
  background-color: @primary;
}

button:focus {
  background-color: @primary;
  color: @on_primary;
}

button:hover {
  background-color: @tertiary_container;
  color: @tertiary;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#logout,
#suspend,
#shutdown,
#reboot {
  margin: 500px 0px 500px 0px;
}

#lock {
  background-image: image(url("../../.colors/generated/icons/lock.svg"));
  margin: 500px 0px 500px 750px;
}

#lock:focus {
  background-image: image(
    url("../../.colors/generated/icons/lock_contrast.svg")
  );
}

#windows {
  background-image: image(url("../../.colors/generated/icons/windows.svg"));
  margin: 500px 750px 500px 0px;
}

#windows:focus {
  background-image: image(
    url("../../.colors/generated/icons/windows_contrast.svg")
  );
}

#logout {
  background-image: image(url("../../.colors/generated/icons/logout.svg"));
}

#logout:focus {
  background-image: image(
    url("../../.colors/generated/icons/logout_contrast.svg")
  );
}

#suspend {
  background-image: image(url("../../.colors/generated/icons/sleep.svg"));
}

#suspend:focus {
  background-image: image(
    url("../../.colors/generated/icons/sleep_contrast.svg")
  );
}

#shutdown {
  background-image: image(url("../../.colors/generated/icons/poweroff.svg"));
}

#shutdown:focus {
  background-image: image(
    url("../../.colors/generated/icons/poweroff_contrast.svg")
  );
}

#reboot {
  background-image: image(url("../../.colors/generated/icons/restart.svg"));
}

#reboot:focus {
  background-image: image(
    url("../../.colors/generated/icons/restart_contrast.svg")
  );
}
