@import url("../../.colors/gtk/colors.css");

window {
  font-family:
    FantasqueSansM Nerd Font,
    monospace;
  font-size: 16pt;
  /* background-color: @bar-bg; */
  background-color: rgba(0, 0, 0, 0);
}

button {
  outline-style: none;
  border: none;
  border-width: 0px;
  color: @onSurface;
  background-color: @surface;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

button:focus {
  background-size: 25%;
  background-color: @primary;
}

button:focus {
  background-color: @primary;
  color: @onPrimary;
}

button:hover {
  background-color: @tertiaryContainer;
  color: @onTertiary;
  background-size: 30%;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 10px;
  margin: 325px 0px 325px 200px;
}

button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#reboot {
  border-radius: 10px;
  margin: 325px 0px 325px 0px;
}

button:hover#windows {
  border-radius: 10px;
  margin: 325px 200px 325px 0px;
}

#logout,
#suspend,
#shutdown,
#reboot {
  border-radius: 0px 0px 0px 0px;
  margin: 350px 0px 350px 0px;
}

#lock {
  background-image: image(url("../../.colors/icons/lock.svg"));
  border-radius: 20px 0px 0px 20px;
  margin: 350px 0px 350px 200px;
}

#lock:focus {
  background-image: image(url("../../.colors/icons/lock_contrast.svg"));
}

#logout {
  background-image: image(url("../../.colors/icons/logout.svg"));
}

#logout:focus {
  background-image: image(url("../../.colors/icons/logout_contrast.svg"));
}

#suspend {
  background-image: image(url("../../.colors/icons/sleep.svg"));
}

#suspend:focus {
  background-image: image(url("../../.colors/icons/sleep_contrast.svg"));
}

#shutdown {
  background-image: image(url("../../.colors/icons/poweroff.svg"));
}

#shutdown:focus {
  background-image: image(url("../../.colors/icons/poweroff_contrast.svg"));
}

#reboot {
  background-image: image(url("../../.colors/icons/restart.svg"));
}

#reboot:focus {
  background-image: image(url("../../.colors/icons/restart_contrast.svg"));
}

#windows {
  background-image: image(url("../../.colors/icons/windows.svg"));
  border-radius: 0px 20px 20px 0px;
  margin: 350px 200px 350px 0px;
}

#windows:focus {
  background-image: image(url("../../.colors/icons/windows_contrast.svg"));
}
